/* Color Theme Swatches in Hex */
.color-theme_Background_blue-1-hex {
    color: #F2BBCF;
}

.color-theme_Background_blue-2-hex {
    color: #8DC3F2;
}

.color-theme_Background_blue-3-hex {
    color: #6FBFA8;
}

.color-theme_Background_blue-4-hex {
    color: #F2BC57;
}

.color-theme_Background_blue-5-hex {
    color: #F2E4DC;
}